.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 33%; /* aspect ratio */
    vertical-align: bottom;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.job-bar { opacity: 1.0; }
.job-bar:hover { opacity: 0.75; }

.language-line { opacity: 0.7; }
.language-line:hover { opacity: 1; }


.job-tool-tip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: papayawhip;
    padding: 1em;
}


body {
    background-color: ivory;
}
